@page "/account/forgotpassword"
@using A5Soft.A5App.Application.UseCases.Security
@using A5Soft.A5App.Domain.Security
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<CommonLocalization> localizer

<h1>@ResetPasswordUseCase.GetParameterMetadata().GetDisplayNameForNew()</h1>

<InputForm Model="@Input" SubmitLabel=@localizer["Reset"] OnSubmitAsync=@ResetAsync>
    <InputField For="@(() => Input.Email)" @bind-FieldValue="@Input.Email" />
</InputForm>

<InfoModal @ref="InfoModal" />

@code {

    [Inject]
    public IResetPasswordUseCase ResetPasswordUseCase { get; set; }


    private ResetPasswordRequest Input { get; set; } = new ResetPasswordRequest();

    private InfoModal InfoModal { get; set; }


    private async Task ResetAsync(EditContext context)
    {
        await ResetPasswordUseCase.InvokeAsync(Input);
        InfoModal.Show(localizer["Please check your email for password reset confirmation link."]);
    }

}
